
:root {

    /* GENERAL */
    --transform: translateY(-2px);
    --max-width-card: 100%;
    --reg-font-size: 1.2rem;
    
    --validate: rgb(112, 209, 162);
    --validate-hover: rgb(112, 234, 175);
    --caution: rgb(223, 176, 147);
    --warning: rgb(197, 146, 146);
    --warning-hover: rgb(180, 120, 120);
    --accent: rgb(159, 185, 255);
    --accent-hover: rgb(133, 165, 255);
    --neutral-color: rgb(76, 76, 76);

    /* Light mode */
    --bg-color: #f1f1f1;
    --text-color: black;
    --card-color: white;
    --border-card: 1px solid #e2e2e2;
    --box-shadow: 0 2px 10px rgba(72, 133, 255, 0.1);
    --border-textarea: #cecece;
  
    /* Night mode */
    /* --bg-color-night: linear-gradient(10deg, #150e78, #03011d); */
    --bg-color-night: #151b23;
    --card-color-night: #151b23;
    --text-color-night: rgb(190, 190, 190);
    --border-card-night: 1px solid #3d3d3d;
    --box-shadow-night: 0 2px 10px rgba(0, 0, 0, 0.1);
    --border-textarea-night: 1px solid #3d3d3d;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
  
  
  /* Background overlay for dark/light mode transitions */
  #background-overlay {
    position: fixed;
    inset: 0;
    z-index: -1;
    background: rgba(255, 255, 255, 0.1); /* ← PAS opaque */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    pointer-events: none; /* facultatif */
  }
  
  
  body.dark #background-overlay {
    background: var(--bg-color-night);
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
  }

  .body-page {
    background: var(--bg-color);
  }

  body.dark .body-page {
    background-color: var(--bg-color-night);
  }
  
  body.dark {
    color: var(--text-color-night);
  }
  
  
  body.dark .card-pre,
  body.dark .card-post,
  body.dark .card-test {
    background-color: var(--card-color-night);
    color: var(--text-color-night);
    box-shadow: var(--box-shadow-night);
    border: var(--border-card-night);
  }
  
  body.dark .card-post .comment-posted {
    color: var(--text-color-night);
    border: 2px solid transparent;
  }
  
  body.dark #input {
    background-color: transparent;
    border: var(--border-textarea-night);
  }

  body.dark #input:focus {
    border: 1px solid var(--accent);
  }

  body.dark .response-card {
    background-color: #252e39;
  }
  
  body.dark textarea {
    border: var(--border-textarea-night);
  }

  body.dark .comment-section:focus {
    color: var(--text-color-night);
  }
  
  body.dark :is(h1, h2, h3, h4, h5, h6) {
    color: var(--text-color-night);
  }
  
  nav {
    display: flex;
    justify-content: end;
    align-items: center;
    /* padding: 10px; */
  }

  .unlock {
    position: absolute;
    bottom: 10px;
    padding: 10px;
  }

  .menu {
    position: fixed;
    display: flex;
    height: auto;
    width: fit-content;
    pointer-events: auto;
    padding: 20px;
    width: 170px;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    background-color: #ffffff;
    backdrop-filter: blur(1rem);
    border: 1px solid var(--border-card);
    /* box-shadow: var(--box-shadow); */
    border-radius: 0 8px 8px 0;
    opacity: 0;
    transition: opacity .2s ease;
    /* box-shadow: var(--box-shadow); */
    overflow: hidden;
  }

  .menu.open {
    opacity: 1;
    pointer-events: auto;
  }

  body.dark .menu {
    background-color: var(--bg-color-night);
  }

  body.dark .menu-access {
    background-color: var(--bg-color-night);
  }

  .menu-access {
    background: none;
    border: none;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    position: fixed;
    top: 5px;
    left: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .menu-access svg {
    width: 100%;
    height: 100%;
  }
  

  .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    /* padding: 20px; */
    transition: transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    z-index: 999;
  }

  hr {
    background-color: #999;
    color: #999;
    height: 1px;
    width: 100%;
  }

  .menu-el {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;
    width: 300%;
    text-decoration: none;
    font-weight: bold;
    transform: translateX(-150px);
    color: var(--neutral-color);
    transition: transform 0.2s ease;
    font-size: 0.9rem;
    /* border-left: 1px solid var(--accent-hover); */
    padding: 10px;
    height: fit-content;
    position: relative;
    z-index: 1100;
  }

  .menu-el:hover {
    color: var(--accent);
    transform: translateX(2px) !important;
  }

  body.dark .menu-el {
    color: var(--text-color-night);
  }

  .menu-el img {
    width: 40px;
  }

  .menu-el:nth-child(1) {
    transition-delay: 0s;
  }
  .menu-el:nth-child(2) {
    transition-delay: 0.05s;
  }
  .menu-el:nth-child(3) {
    transition-delay: 0.1s;
  }
  .menu-el:nth-child(4) {
    transition-delay: 0.15s;
  }
  .menu-el:nth-child(5) {
    transition-delay: 0.2s;
  }
  
  .switch-dark-mode {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 3px;
    width: 35px;
    height: 35px;
    color: black;
    background-color: var(--accent);
    border: 2px solid transparent;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    z-index: 9999;
  }
  
  .switch-dark-mode:hover {
    background-color: var(--accent-hover);
  }
  
  main {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .card-pre,
  .card-post {
    margin: 10px;
    padding: 20px;
    min-width: 60%;
    max-width: 60%;
    height: auto;
    line-break: auto;
    border-radius: 8px;
    border: var(--border-card);
    background-color: var(--card-color);
    box-shadow: var(--box-shadow);
  }  

  .card-pre {
    /* position: sticky; */
    z-index: 10;
    top: 20px;
  }

  .cards-posted {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @keyframes highlight {
    0%   { background-color: rgba(159, 185, 255, 0.3); }
    100% { background-color: transparent; }
  }
  
  .card-post.highlight {
    animation: highlight 1s ease-out;
  }
  

  .card-post p {
    max-width: 90%;
    line-break: auto;
    max-width: 100%;
  }

  .card-body {
    text-align: start;
    padding: 20px;
  }

  .text-wrapper {
    padding: 20px;
  }



  .card-title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
  }
  
  .profil {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: bisque;
    width: 30px;
    height: 30px;
    color: var(--neutral-color);
  }

  .profil-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: bisque;
    width: 15px;
    height: 15px;
    color: var(--neutral-color);
  }
  
  .fullname {
    font-size: 0.8rem;
    color: var(--neutral-color);
  }
  
  .card-body-pre {
    position: relative;
  }
  
  #input {
    width: var(--max-width-card);
    min-height: 100px;
    padding: 10px;
    resize: vertical;
    font-size: var(--reg-font-size);
    transition: border 0.3s ease;
    border: 1px solid var(--border-textarea);
  }

  /* #input::placeholder {
    color: var(--accent);
  } */

  
textarea:focus::placeholder {
  color: transparent;
}
  
  textarea {
    border-radius: 8px;
    outline: none;
    color: var(--accent);
    cursor: text;
    font-family: Arial, Helvetica, sans-serif;
  }

  body.dark #input:focus  {
    color: var(--text-color-night);
  }
  
  #input:focus {
    border: 1px solid var(--accent);
    border-radius: 8px;
    color: black;
  }
  
  .action-btns {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
  }
  
  .send-btn,
  #draft-btn,
  .send-comment-btn {
    padding: 5px 10px;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  
  .send-btn {
    /* background-color: var(--validate); */
    background-color: transparent;
    border: 1px solid var(--validate);
    color: var(--neutral-color);
    font-weight: bold;
  }

  body.dark .send-btn {
    color: var(--bg-color);
  }
  
  .send-btn:hover,
  .send-comment-btn:hover {
    background-color: var(--validate-hover);
    transform: translateY(-2px);
  }

  .send-comment-btn {
    max-width: fit-content;
    background-color: transparent;
    /* background-color: var(--validate); */
    border: 1px solid var(--validate);
    color: var(--neutral-color);
    font-weight: bold;
  }

  body.dark .send-comment-btn {
    color: var(--bg-color);
  }

  .response-posted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    /* gap: 20px; */
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .responses-container {
    width: 100%;
  }

  .response-card {
    background-color: #e4e4e455;  
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border-radius: 8px;
    width: 100%;
  }

  .response-title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 0.7rem;
  }

  .fullname-response {
    color: var(--neutral-color);
    font-size: 0.7rem;
  }

  .response-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 20px;
  }

  .like-icon {
    width: 20px;
    height: 20px;
    margin: 0 10px;
  }

  .like-icon:hover {
    fill: var(--accent);
  }

  .chat-bubble-icon {
    width: 19px;
    height: 19px;
    margin: 0 10px;
  }
  .chat-bubble-icon:hover {
    fill: var(--accent);
  }

  .post-icons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-bottom: 10px;
  }

  .like-comment,
  .bubble-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  .like-comment h6 {
    color: var(--neutral-color);
  }

  .bubble-comment h6 {
    color: var(--neutral-color);
  }

  .response-posted {
    display: flex;
    align-items: center;
  }

  .response-posted p {
    max-width: 100%;
    font-size: 1rem;
    text-align: start;
    line-break: auto;
  }

  .respond-btn {
    padding: 5px 10px;
    background-color: var(--card-color);
    /* border: 1px solid #999; */
    border: none;
    box-shadow: var(--box-shadow);
    color: var(--neutral-color);
    font-size: 0.7rem;
    border-radius: 8px;
  }

  .response-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
  }

  
  #draft-btn {
    background-color: transparent;
    border: none;
    /* border: 1px solid var(--caution); */
    color: var(--caution);
  }
  
  #draft-btn:hover {
    background-color: var(--caution);
    color: var(--card-color);
    transform: translateY(-2px);
  }
  
  .comment-posted {
    text-align: start;
    margin-bottom: 20px;
    /* padding: 20px; */
    border-radius: 8px;
    font-size: var(--reg-font-size);
    color: var(--neutral-color);
    line-break: auto;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .chat-bubble-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: stroke 0.3s ease;
  }
  
  .chat-bubble-icon:hover {
    stroke: var(--accent-hover);
  }
  
  
  
  .voting-btns {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
  }
  
  .voting-btns h6 {
    color: var(--neutral-color);
  }
  
  .upvote,
  .downvote {
    min-width: 30px;
    min-height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
  }
  
  .upvote {
    color: var(--validate);
    /* border: 1px solid var(--validate-hover); */
  }
  
  .upvote:hover {
    background-color: var(--validate-hover);
    color: var(--card-color);
  }
  
  .downvote {
    color: var(--warning);
    /* border: 1px solid var(--warning-hover); */
  }
  
  .downvote:hover {
    background-color: var(--warning-hover);
    color: var(--card-color);
  }
  
  .comment-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .menu svg {
    width: 22px;
    height: 22px;
    stroke: var(--accent);
  }
  

  .comment-section-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 10px;
    width: 100%;
  }

  .comment-section.show {
    width: 100%;
    padding: 10px;
    background-color: var(--card-color);
  }

  body.dark .comment-section.show {
    background-color: var(--card-color-night);
  }

  .comment-section,
.send-comment-btn {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 10px;
  transform: scale(0.95);
  transition: all 0.3s ease;
}

.comment-section.show,
.send-comment-btn.show {
  max-height: 200px;
  opacity: 1;
  transform: scale(1);
}

.send-comment-btn.show {
  padding: 5px 10px;

}

  

  /* .send-comment-btn {
    display: none;
  } */

  .comment-section:focus {
    border: 1px solid var(--accent);
  }

  .post-published {
    position: fixed;
    pointer-events: none;
    top: -60px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--accent);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    opacity: 0;
    transition: top 0.4s ease, opacity 0.4s ease;
    z-index: 1000;
  }

  .post-published.show {
    top: 20px; 
    opacity: 1;
  }

  body.dark .post-published {
    background-color: rgb(30, 30, 40); 
    color: var(--text-color-night);   
    border: 1px solid rgba(255, 255, 255, 0.1); 
  }


  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--accent);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-hover);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.page-title {
  padding: 40px;
}

.page-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: var(--accent);
  color: var(--card-color);
  font-size: 3rem;
  padding: 20px;
  /* border-bottom: 2px solid var(--accent-hover); */
}

.page-nav a {
  text-decoration: none;
}

.retour-btn {
  border-radius: 8px;
  border: 2px solid white;
  font-size: 2rem;
  padding: 5px 10px;
  color: white;
}

.page-main {
  width: 100%;
  background-color: var(--card-color);
}

.parameters {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 20px; */
  padding: 20px;
  border-radius: 8px;
  height: auto;
  margin-top: 40px;
  /* border: 1px solid #999; */
  /* background-color: var(--card-color); */
  width: fit-content;
  max-width: 100%;
}

.parameter-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  
  gap: 50px;
  padding: 10px;
}

.parameters a {
  text-decoration: none;
  color: var(--text-color);
}

.parameters li {
  list-style: none;
}

#bg-blur {
  width: 100px;
}

#reset-bg {
border-radius: 12px;
border: 1px solid #999;
}


  @media (max-width: 650px) {

    /* .menu {
      pointer-events: none;
    } */
    .cards {
      width: 100%;
    }
    .card-pre,
  .card-post {
    width: 100%;
    max-width: none;
   margin: 5px 0;
  } 
  .card-pre {
    margin-top: 50px;
  }

  .response-card {
    width: 100%;
  }
  }

  
