:root {
    --text-color: #3e7662;
    --bg-color: white;
    --bg: rgb(255, 253, 243);
    --highlight: #baba69;
    --button:  #24764e;
    --button-hover: #d5d590;
    --button-color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

/* html, body {
    overflow-x: hidden;
  } */

body {
    width: 100%;
    height: auto;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Cormorant Garamond', Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

/*  DESKTOP */
nav {
    width: 100%;
    height: auto;
    padding-top: 10px;
    background: var(--bg-color);
    color: var(--text-color);
    /* border-radius: 20px; */
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 100%;
    /* border: 1px solid red; */
}

.menu .btn {
    border: 1px solid var(--text-color);
    padding: 5px 10px;
    transition: transform 0.3s ease-in;

}

.menu .btn:hover {
    background-color: var(--button-hover);
    color: var(--bg-color);
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 1.2rem;
}

nav li {
    color: var(--text-color);
    list-style: none;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

.desktop-nav li:hover {
    transform: translateY(-3px);
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    color: var(--highlight);
}
/* 
.full_logo {
    display: flex;
    gap: 10px;
} */
/* .title_logo {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
} */

.full_logo h2 {
    font-size: 1rem;
}

.logo {
    max-width: 200px;
}

.logo-footer {
    max-width: 250px;
}

/*  MOBILE */

.menu-toggle {
    display: none;
    background-color: var(--highlight);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 5px 15px rgba(31, 72, 255, 0.1);

}

.dropdown-menu {
    display: none;
    position: fixed;
    top: 85px;
    right: 0;
    width: 90%;
    margin: 20px;
    background: rgba(253, 253, 253, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(31, 72, 255, 0.2);
    z-index: 1000;
}

.dropdown-menu ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.dropdown-menu ul li {
    width: 100%;
    padding: 8px 15px;
    border-radius: 10px;
    transition: background 0.3s ease;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.5rem;
}

.dropdown-menu ul li:hover {
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

}

.dropdown-menu ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.5rem;
}


/* -------- MAIN ----------------- */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: auto;
    color: var(--text-color);
    border-radius: 12px;
    padding: 20px;
}

main h1 {
    font-size: 4rem;
    padding: 5px 20px;
    /* border-bottom: 2px solid var(--highlight); */
    /* border-radius: 50px; */
    margin: 40px 0;
}

hr {
    width: 80%;
    height: 1px;
    color: var(--highlight);
    /* margin: 0 auto; */
}

.main-body {
    max-width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 50px;
    margin: 40px 0;
}

#text-page {
    text-align: justify;
}

.body-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tarifs {
    /* height: 150px; */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
}

#img-page {
    max-width: 50%;
    border-radius: 20px;
}

.action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.btn-page-principale {
    /* width: 100%; */
    display: flex;
    justify-self: center;
    align-items: center;
    height: auto;
}

.btn-retour {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    text-decoration: none;
    font-size: 0.9rem;
    margin: 20px 40px;
    transition: transform 0.3s ease-in;
}

.btn-retour:hover {
    transform: translateY(-3px);
}

.cta {
    background-color: var(--highlight);
    color: var(--button-color);
    border-radius: 50px;
    /* border: 1px solid var(--text-color); */
    padding: 10px 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in;
    text-decoration: none;
}

.cta:hover {
    background-color: var(--button-hover);
    color: var(--button-color);
    transform: translateY(-3px);
}

footer {
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    box-shadow: 0 -5px 15px rgba(31, 72, 255, 0.1);

}

.footer-body {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.footer-body-responsive {
    display: none;
}

.info {
    text-align: center;
}

.info a {
    color: var(--text-color);
    font-family:'Newsreader', Arial, Helvetica, sans-serif;
}

.info h5 {
    font-family:'Newsreader', Arial, Helvetica, sans-serif;
    font-size: 0.6rem;
    padding: 5px 0;
}

/* ----------------MENTIONS LEGALES ------------------ */

#mentions-legales-lien {
    /* text-decoration: none; */
    color: var(--text-color);
    font-size: 0.7rem;
    font-family:'Newsreader', Arial, Helvetica, sans-serif;
}

#mentions-legales {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 40px 0;
    /* border: 1px solid var(--highlight);
    border-radius: 20px; */
}

#mentions-legales-title {
    font-size: 3rem;
    padding: 10px 0;
}

.legal-content-title {
    width: 100%;
    padding: 20px 0;
}

.legal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 60%;
}

.paragraph {
    padding: 20px 0;
    text-align: justify;
    /* border: 1px solid red; */
}

.paragraph h2 {
    padding: 10px 0;
}

@media screen and (max-width: 768px) {

    main {
        margin-top: 60px;
    }

    body {
        width: 100%;
    }
    
    .desktop-nav {
        display: none;
    }

    .menu-toggle {
        display: block;
        position: fixed;
        z-index: 1010;
        right: 20px;
        top: 35px;
    }
    
    .logo {
        position: absolute;
        left: 20px;
        z-index: 1010;
        width: 150px;
    }

    .main-body {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .tarifs {
        margin: 0 auto;
    }

    hr {
        margin: 0 auto;
    }

    .footer {
        padding: 20px;
        height: auto;
    }

    .footer-body {
        display: none;
    }

    .footer-body-responsive {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* gap: 20px; */
        /* border: 1px solid red; */
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .footer-top a {
        color: var(--text-color);
        font-family:'Newsreader', Arial, Helvetica, sans-serif;
    }
   
}

@media only screen and (max-width: 405px) {
    

    .body-title h2 {
        text-align: center;
    }

    .description h1 {
        text-align: center;
    }

    main {
        max-width: 100%;
    }

    #title {
        font-size: 2rem;
    }

    .main-body {
        max-width: none;
        flex-direction: column;
    }

    #img-page {
        margin: 0 auto;
    }

    .tarifs {
        margin: 0 auto;
    }

    .btn-page-principale {
        margin-bottom: 40px;
        justify-content: space-around;
        gap: 20px;
    }

    .btn-retour {
        margin: 0;
    }

    .legal-content {
        padding: 20px;
        width: 100%;
        max-width: none;
    }
}
